body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #fbefef;
  color: #333;
  background-image:url('/images/cor-2.svg');
  background-repeat:repeat;
  background-size: 30px;
  background-blend-mode: color-burn;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/Mas-Jorda-bg1.avif');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 4rem 0;
  text-align: center;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  margin: 0;
}

.hero p {
  font-size: 2rem;
  margin: 0.5rem 0;
  font-weight:700;
}

.hero p.date {
  font-weight: 100;
  font-size: 1.4rem;
}

main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 20px;
  
}

section {
  background: #fff;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  font-family: 'Playfair Display', serif;
  color: #b70e0e;
  text-align: center;
  margin-bottom: 1.2rem;
  text-shadow: 2px 2px 2px #e19393;
  font-size: 2.4rem;
}

a {
  color: #b70e0e;
  text-decoration: none;
  font-weight:700;
}

a:hover {
  text-decoration: underline;
}

#programa ul {
  list-style: none;
  padding: 0;
}

#programa li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}

.mapa {
  text-align: center;
  margin-top: 1.5rem;
}

.mapa iframe {
  max-width: 100%;
  border-radius: 8px;
}

.iban {
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 5px;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.image-gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

footer {
  text-align: center;
  padding: 2rem 0;
  background: #b70e0e;
  color: #fff;
}

footer p {
    font-family: 'Playfair Display';
    font-size: 1.6rem;
}
